*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.body{
    background: url(bg1.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */

}
#board{
    background: linear-gradient(rgb(196, 245, 196),rgb(211, 211, 157));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18 ,1fr); 
}
#HighScoreBox{
    position: absolute;
    top: 59px;
    right: 91px;
    font-size: 39px;
    font-weight: bold;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 116px;
    font-size: 39px;
    font-weight: bold;
}
.head{
    /* background: linear-gradient(rgb(221, 165, 165),rgb(243, 243, 140)); */
    background: url(head.svg);
    /* border: 2px solid black; */
    /* transform: scale(1.02); */
    /* border-radius: 9px; */
    background-size: cover;
}
.food{
    /* background-color: yellow; */
    background: url(apple.svg);
    transform: scale(0.78);
    /* border: 0.25vmin solid black; */
    border-radius: 12px;
}
.snake{
    /* border: 0.25vmin solid white; */
    border-radius: 10px;
    
    border: 5px solid black;
    background-size: cover;
    /* background: rgb(0, 121, 0); */
    background: url(snake.svg);
}
